.cache/
build*
*.txt.user
.vscode
.qt
CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.31.6/CompilerIdC/a.out
CMakeFiles/3.31.6/CompilerIdCXX/a.out
CMakeFiles/3.31.6/CMakeSystem.cmake
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeConfigureLog.yaml
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.31.6/CMakeCCompiler.cmake
CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
compile_commands.json
.clangd
